<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920810654162-b9mtnvf7sjv9vcnjd5dik1kj0k1tiv9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920810654162-b9mtnvf7sjv9vcnjd5dik1kj0k1tiv9u</string>
	<key>API_KEY</key>
	<string>AIzaSyCKgINzI5jnGzNTQTQafKZgOn8Tjlas2IM</string>
	<key>GCM_SENDER_ID</key>
	<string>920810654162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookClub</string>
	<key>PROJECT_ID</key>
	<string>book-club-9d684</string>
	<key>STORAGE_BUCKET</key>
	<string>book-club-9d684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920810654162:ios:adaf12ac2d676f957ee00b</string>
</dict>
</plist>